
.main_table {border-spacing: 0; border-collapse: collapse; text-align: center; vertical-align:middle; font-size: 12px;}
.main_table th{border: 1px solid; text-align: center; background-color:#002060; color:#FFFFFF; font-weight:normal;}
.main_table td{border: 1px solid; text-align: center;}
/* .odd{border: 1px solid; text-align: center; background-color:#f0f0f0;} */
/* .even{border: 1px solid; text-align: center; background-color:#ffffff;} */
.cname{border: 1px solid; text-align: left;}

.h_btn{display: none;}

.hunet th{text-align: center; background-color:#F2DCDB;}
.hunet td{text-align: center; }

.main_contable th{text-align: center; background-color:#002060; color:#FFFFFF; }
.main_contable td{text-align: left; }
.main_contable tbody th{text-align: center; background-color:#FFFF00; color:#000000; }
.hidden {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
}